<div class="container mt-5">
    <a href="/index" class="btn btn-primary mb-5">Go Back</a>
    <h1>Login</h1>
    <form action="/login" method="POST">
        <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" name="email" id = "email" class="form-control" id="exampleInputEmail1" required aria-describedby="email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password"id = "password" name="password" class="form-control" required id="password">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    
     
</div>
