<div id = "app" class = "app">
    <div class = "Circle-Royale">
      <br>
      <img  class = "Card-img2" src="https://cdn.discordapp.com/attachments/849318143537315880/864103115510120448/f08c0125-a6c7-43e5-895c-7c9e19b26db4.png">
      <h1 class = "Titolo-Card">Il nostro sito non è disponibile per cellulari o tablet! Ci scusiamo...</h1>
      <h3 class="SottoTitolo-Card">In compenso abbiamo la nostra app! </h3>

      <a class="gioca-vedi" href = "inarrivo.com" >Scaricala</a>
      <br>
      <br>
    </div>
  </div>

  <style>

body{
    background-color: lightblue;
}
      .Card-img{
  display: block;
  padding-left: auto;
  padding-right: auto;
}

.app{
    display: flex;
  justify-content: center;
  margin-top: 400px;
  margin-bottom: auto;
}

.Circle-Royale{
  float: center;
  padding-left: 30px;
  margin: 50px;
  align-self: center;
  height: auto;
  width: 300px;
  border-radius: 10px 10px 10px 10px; 
  background-color: white;
}


.Circle-Royale2{
  float: left;
  padding-left: 30px;
  margin: 30px;
  height: auto;
  width: 300px;
  border-radius: 10px 10px 10px 10px; 
  background-color: white;
  
}

h1{
    font-family: sans-serif;
    text-decoration: none;
    padding-left: 20px;
    font-weight: 400;
  }

  h2{
    font-family: sans-serif;
    text-decoration: none;
    padding-left: 20px;
    font-weight: 400;
  }

  h3{
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 400;
    text-align: center;
  }

.Card-img{
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.Card-img2{
  margin-left: auto;
  margin-right: auto;
  display: block;
  height: 200px;
  width: 250px;

}

.Titolo-Card{
  padding-left: 0px;
}
.SottoTitolo-Card{
  text-align: justify;
  text-justify: inter-word;
  padding-right: 20px;
}

.gioca-vedi{ 
  border-radius: 10px 10px 10px 10px; 
      background-color:#0d6efd;
      border-color:#0d6efd;

      display: inline-block;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
      background-color: cornflowerblue;
      border: 1px solid cornflowerblue;
      padding: .375rem .75rem;
      font-size: 1rem;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  }

    </style>