<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Gamelex</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    
        <title>Gamelex</title>
        <link href="/assets/home.css" rel="stylesheet">
    </head>
    <body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="/index">Gamelex</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/aggiungi">Aggiungi videogiochi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/games">Videogiochi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="https://discord.gg/V35p2mF5R5">Server Discord</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      
      </nav>
  

  <br>
  <br>
  <br>

    <div class = "Modulo Gioco">
      <form method="POST" action=<%= `/${id}/modifica` %> >

        <br>

        <div class="block">
          <h4 class = "DescrizioneGioco">Descrizione</h4>

          <textarea class = "desc" required id = "DescrizioneGioco" name="desc" type="text"></textarea>
        </div>
        
        <br>
        <hr>

        <button><a>Aggiorna</a></button>

      </form>
    </div>

    <style>
      a{
        color: white;
      }
      body {
  background-image: url("https://i.ibb.co/qgjW6Pz/4882066.jpg");
  color: white;
}

      .button{
        color: white;
      }
      
        form { 
        background-color: #212529;
        margin: auto;
        width: 600px;
        height: auto;
        border-radius: 10px 10px 10px 10px; 
}

hr{
  color: white;
}

.block{
        margin-left: 50px;
      }
      
      .desc{
      
      border-radius: 10px 10px 10px 10px; 
      background-color:rgb(38, 51, 45);;
      width: 500px;
      height: 300px;
      color: white;
      }
      button{ 
          border-radius: 10px 10px 10px 10px; 
          background-color: rgb(38, 51, 45);
          text-decoration-color: white;
      }
      

      
        h1{
          color: white;
          font-family: sans-serif;
          text-decoration: none;
          padding-left: 20px;
          font-weight: 400;
        }
      
        h2{
          color: white;
          font-family: sans-serif;
          text-decoration: none;
          padding-left: 20px;
          font-weight: 400;
        }
      
        h4{
          color: white;
          font-family: sans-serif;
          text-decoration: none;
          font-weight: 400;
          text-align: center;
        }
      
      
    </style>

  </body>
</html>